* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #e3e3e9cc;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-bottom: 2px solid #fcfcfc;
}

header img {
    width: 25px;
    height: 25px;
    animation: spin 5s linear infinite;
    -webkit-animation: spin 5s linear infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

header span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #020853;
    letter-spacing: 0px;
}

main {
    margin-block: 40px;
    width: min(85vw, 1440px);
    margin-inline: auto;
}

main h1 {
    font-size: 2.7rem;
    color: #020853;
    text-transform: capitalize;
}

main p {
    font-size: 1.05rem;
    line-height: 130%;
}

main .task-input form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 500px;
}


.task-input {
    margin-top: 40px;
}

.task-input h3 {
    color: #020853;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-bottom: 15px;
}

.task-input form input[type='text'],
.task-input form textarea {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #666aaa;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.3), 4px 4px 4px rgb(255, 255, 255);
    background-color: #666aaf13;
}

form .priority h4 {
    color: #666aaa;
    margin-bottom: 10px;
}

form .priority label {
    margin-right: 10px;
}

form .priority input[type='radio'] {
    accent-color: #666fff;
}

.input-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-block label {
    font-weight: 600;
    color: #666aaa;
}

.input-block textarea {
    resize: none;
    min-height: 100px;
}

.task-input form button {
    height: 50px;
    width: 120px;
    background-color: transparent;
    border: 2px solid #666aaa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 0.95rem;
    font-weight: 600;
    color: #666fff;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.3), 4px 4px 4px rgb(255, 255, 255);

    &:hover,
    &:focus {
        background-color: #020853cc;
        border: 2px solid #666aaa;
        color: #fafafa;
    }
}

.task-list {
    margin-top: 60px;
    padding-top: 5rem;
    border-top: 2px solid #fcfcfc;
}

.task-list table {
    width: 100%;
    margin-inline: auto;
    text-align: left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #666aaa;
    overflow: hidden;
    border-collapse: collapse;
    border: 2px solid #666aaa;
}

tr {
    border-bottom: 2px solid #666aaa;
}

th {
    color: #020853;
    text-transform: uppercase;
}

th,
td {
    padding: 10px;
    background-color: #fafafa;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    text-transform: capitalize;

}

td:not(td:last-child):hover {
    background-color: #e0e0e0;
}



.task-list table td:last-child {
    width: 100px;
}

.task-list table tr:has(.complete) td {
    padding-block: 20px;
    background-color: #b7f7c5;
}

.complete {
    background-color: #00ee33;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.incomplete {
    background-color: #ff3333;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.progress {
    background-color: #ffcc00;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.urgent {
    background-color: #f72498;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.important {
    background-color: #a34bf5;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.lax {
    background-color: #0099ff;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.completed {
    background-color: #037e40;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 600;
}

.update-item,
.delete-item {
    margin-right: 10px;
    position: relative;
}

.update-item img:hover,
.delete-item img:hover {
    transform: scale(1.1) translateY(-5px);
    -webkit-transform: scale(1.1) translateY(-5px);
    -moz-transform: scale(1.1) translateY(-5px);
    -ms-transform: scale(1.1) translateY(-5px);
    -o-transform: scale(1.1) translateY(-5px);
}

.update-item img,
.delete-item img {
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    width: 25px;
}

.update-item:hover::after {
    content: 'Update';
    font-size: 0.9rem;
    color: #020853;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    -webkit-transform: translateX(-50%) translateY(-100%);
    -moz-transform: translateX(-50%) translateY(-100%);
    -ms-transform: translateX(-50%) translateY(-100%);
    -o-transform: translateX(-50%) translateY(-100%);
    background-color: #f0f0f0;
    border: 1.5px solid #020853;
    padding: 5px 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
    font-weight: 600;
    animation: fade 200 ease-in-out forwards;
    -webkit-animation: fade 300ms ease-in-out forwards;
}

.delete-item:hover::after {
    content: 'Delete';
    font-size: 0.9rem;
    color: #fff;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    -webkit-transform: translateX(-50%) translateY(-100%);
    -moz-transform: translateX(-50%) translateY(-100%);
    -ms-transform: translateX(-50%) translateY(-100%);
    -o-transform: translateX(-50%) translateY(-100%);
    background-color: red;
    border: 1.5px solid #f0f0f0;
    padding: 5px 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
    font-weight: 600;
    animation: fade 200 ease-in-out forwards;
    -webkit-animation: fade 300ms ease-in-out forwards;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-150%);
        -webkit-transform: translateX(-50%) translateY(-150%);
        -moz-transform: translateX(-50%) translateY(-150%);
        -ms-transform: translateX(-50%) translateY(-150%);
        -o-transform: translateX(-50%) translateY(-150%);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(-100%);
        -webkit-transform: translateX(-50%) translateY(-100%);
        -moz-transform: translateX(-50%) translateY(-100%);
        -ms-transform: translateX(-50%) translateY(-100%);
        -o-transform: translateX(-50%) translateY(-100%);
    }

}

.task-list-error {
    text-transform: capitalize;
    color: #ff3333;
    font-weight: 700;
}

.task-list-controls {
    display: flex;
    gap: 5rem;
    margin-bottom: 1.5rem;
    padding: 25px 30px;
    border: 0.5px solid #f0f0f0;
    background-color: #f0f0f0;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    width: fit-content;
    box-shadow: -4px -4px 8px #00010c25, 4px 4px 8px #fff, inset 4px 4px 15px #00010c55, inset -4px -4px 15px #fff;
}

.task-list-controls #sort-form {
    display: flex;
    gap: 1.5rem;
}

.task-list-controls #sort-form>div {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.task-list-controls label {
    text-transform: uppercase;
    color: #020853;
    font-weight: 600;
}

.task-list-controls #filter-form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.task-list-controls form select {
    padding: 5px 10px;
    text-transform: capitalize;
    border: 2px solid #666aaa;
    border-radius: 5px;
    font-size: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.alert-container,
.update-container {
    height: 100dvh;
    display: none;
    place-items: center;
    background-color: #000000aa;
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.alert-container.visible,
.update-container.visible {
    display: grid;
    opacity: 0;
    animation: show-alert 500ms ease-in-out forwards;
    -webkit-animation: show-alert 500ms ease-in-out forwards;
}

@keyframes show-alert {
    to {
        opacity: 1;
    }

}

.task-add-alert {
    padding: 15px 25px;
    background-color: #037e40;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    border: 0.5px solid #f0f0f0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.6), 3px 3px 8px #ffffff90, inset 4px 4px 15px rgba(0, 0, 0, 0.3), inset -4px -4px 10px #ffffffdf;
}

.task-add-alert img {
    height: 35px;
    object-fit: contain;
}

#update-task-form {
    width: min(85vw, 500px);
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    padding: 25px 35px;
    gap: 1.3rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#update-task-form .input-block {
    gap: 7px;
}

#update-task-form input:not([type='radio']),
#update-task-form textarea,
#update-task-form select {
    background-color: transparent;
    padding: 10px 15px;
    border: 1px solid #bbb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: -2px -2px 10px #00000055, inset -4px -4px 15px #00000033, 2px 2px 10px #ffffffcc;
    color: #444;
    font-weight: 600;
    font-size: 0.9rem;

    &:focus {
        border: none;
        outline: 2px solid #666aaa;
    }
}

#update-task-form button {
    height: fit-content;
    width: fit-content;
    padding: 15px 20px;
    border: 2px solid #666aaa;
    background-color: transparent;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    color: #444;
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: 2px 2px 10px #00000055, -2px -4px 8px #ffffffdd,
        inset -2px -2px 15px #00000050;

    &:hover {
        transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
        box-shadow: 2px 3px 10px #00000099, -2px -4px 5px #ffffff;
    }
}